* {
    box-sizing: border-box;
    transition: all 0.6s ease;
    margin: 0;
    padding: 0;
}

body {
    background-color: #ff9966;
}

.ui.segment {
    padding-left: .5em!important;
    padding-right: .5em!important;
    border-bottom-left-radius: 3px!important;
    border-bottom-right-radius: 3px!important;
}

#profile-manager-header {
    color: black;
}

#profile-header {
    font-size: 2.9em;
}

.add-allergen {
    font-size: 1.1rem;
    margin-top: 7%
}

.plus {
    padding-right: 14%;
    font-size: 1.2rem!important;
    margin-top: 2%!important;
}

.setting {
    color: black;
}

.ui.green.button {
    margin-bottom: 3px;
}

.ui.black.button {
    margin-bottom: 7px;
}

.mini.ui.inverted.button {
    height: 100%;
    /* width: 33.3%; */
}


/* .large-font {
    font-size: 6em;
    }

    .medium-font {
    font-size: 1.3em;
    } */

header {
    width: 100%;
    height: 88px;
    background-color: #222;
    position: fixed;
    top: 0;
    left: 0;
    border-bottom: 1px solid #222;
    z-index: 2;
    padding-left: 7px;
}

.landing-header-tagline {
    background-color: rgba(254, 254, 254, 0.2);
}

nav {
    float: left;
    clear: left;
}

ul {
    list-style: none;
}

li {
    display: inline-block;
    padding: 0px 15px 0 0;
}

li:hover {
    background-color: #555;
}

a {
    text-decoration: none;
    color: #f9f9f9;
    font-weight: bold;
    font-size: 1.5em;
}

a:hover {
    color: #f9f9f9;
}

#logo {
    margin-top: 7px;
    display: block;
    float: left;
    height: 40px;
}

#menu-icon {
    margin-top: 20px;
    font-size: 30px;
    display: none;
}

@media only screen and (max-width: 768px) {
    .pad-10em {
        padding-top: 10em;
    }
    .pad-9em {
        padding-top: 9em;
    }
    .pad-8em {
        padding-top: 8em;
    }
    .peach-background {
        background-image: url('../IMG/peachImage.png');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: top left;
        background-size: 50%;
    }
    #nav-header {
        font-family: 'Yesteryear', cursive;
        margin-right: 5%;
        margin-top: 10%;
        margin-bottom: 0;
        text-align: center;
        line-height: 0;
        font-size: 3em;
        color: #ff9966;
    }
    .login-register-form {
        margin-top: 1.5em;
        padding: 2em;
        background-color: rgba(0, 0, 0, 0.8);
        border-radius: 3%;
    }
    .allergen-form {
        margin-top: 6em;
        padding: 2em;
        background-color: rgba(0, 0, 0, 0.8);
        border-radius: 3%;
    }
    .edit-modal {
        position: absolute;
        top: 275px;
        left: 10px;
        right: 10px;
        bottom: 45px;
        background-color: rgba(0, 0, 0, 0.6);
        padding: 4px;
    }
    .add-modal {
        position: absolute;
        top: 150px;
        left: 10px;
        right: 10px;
        bottom: 45px;
        background-color: rgba(0, 0, 0, 0.6);
        padding: 4px;
    }
    .login-modal {
        position: absolute;
        top: 20%;
        left: 2%;
        right: 2%;
        bottom: 30%;
        background-color: rgba(0, 0, 0, 0.6);
        padding: 2%;
    }
    #login-message {
        margin-top: 16%;
        color: maroon;
    }
    .add-profile-form {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 3.5em;
        padding: 2em;
        background-color: rgba(0, 0, 0, 0.8);
        border-radius: 3%;
    }
    .edit-profile-form {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 1.5em;
        padding: 2em;
        background-color: rgba(0, 0, 0, 0.8);
        border-radius: 3%;
    }
    .profile-form-close-button {
        font-size: 1.5em;
        color: black;
    }
    .large-font {
        font-size: 3em;
    }
    .small-font {
        font-size: 1.2em;
    }
    #add-child-button-container {
        width: 98%;
        margin-left: auto;
        margin-right: auto;
        padding: 5px;
        background-color: black;
        border-radius: 6px;
        margin-bottom: 7px;
    }
    #profile-buttons-container {
        max-height: 370px;
        overflow: auto;
        padding-bottom: 3px;
    }
    header {
        position: absolute;
        height: 105px;
    }
    #menu-icon {
        display: inline-block;
    }
    nav ul,
    nav:active ul {
        display: none;
        position: absolute;
        left: 0px;
        top: 100px;
        width: 100%;
        background-color: rgba(34, 34, 34, 0.9)
    }
    nav:hover ul {
        display: block;
        border-top: 1px solid #bbb;
    }
    nav li {
        text-align: center;
        width: 100%;
        padding: 15px 0;
        border-bottom: 1px solid #bbb;
    }
    nav li:hover {
        background-color: #555;
    }
    /* PROFILE PAGE */
    #allergies-container {
        max-height: 500px;
        overflow: auto;
        padding-top: 1.5%;
        padding-bottom: 1%;
    }
    #profile-page {
        padding-bottom: 12px;
    }
    .allergen-name,
    .allergen-reaction,
    .allergen-date,
    .allergen-reaction,
    .allergen-edit,
    .allergen-delete {
        color: black!important;
    }
    .allergen-name {
        font-weight: bold;
        font-size: 1.5em;
    }
    .allergen-reaction {
        margin-right: 20%;
        font-size: 1.4em;
        font-weight: bold;
    }
    .allergen-edit {
        font-size: 1.6em;
        margin-right: 10%;
    }
    .allergen-delete {
        font-size: 1.6em;
    }
}